// --------------------
// Definition of variables
$primary: #32c3ff;
/* RGB */
$grey: rgba(187, 203, 203, 1);
$green: rgba(120, 188, 97, 1);
$white: rgba(241, 247, 237, 1);
$blue: rgba(126, 196, 211, 1);
$black: rgba(66, 75, 84, 1);

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: $black;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

// --------------------
// Style for App component
.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: $green;
    padding: 20px 0;
    color: white;
    width: 100%;


    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

// --------------------
// Style for Home component
.Home {
  background-color: $green;
  height: 95vh;
  width: 100vw;
  color:$white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 1.2em;
  }
  input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: $black;
  }

  .radio-buttons{
    width: 400px;
  }

  .btn-submit {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    background-color: $white;
    border-radius: 20px;
  }


}

#root {
  height: 98vh;
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

.calender {
overflow: scroll;
}

.collection {
overflow: scroll;
height: 98vh;
}

.calender-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  margin: 5px;
}

.hidden {
  display: none;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  font-family: 'Josefin Sans', sans-serif;
  a{
    text-decoration: underline;
    color: $green;
  }
  
}

.landing-page{
  background: $green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:95vh;
  color: $white;

  img{
    object-fit: cover;
  }
  a{
    text-decoration: none;
    color: $black;
    background: white;
    padding:20px;
    border:2px solid $green;
    border-radius: 20%;

  }

  .flex-row{
    display: flex;
    justify-content: center;
    flex-direction: row;

    a{
      margin: 10px;
    }
  }

  .block-white{
    // height:10vh;
    // background-color: $white;
    // width: 100vw;
    border:2px solid $white;
    padding: 40px;
    border-radius: 70%;
  }

}