/* RGB */
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #424b54; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: #78bc61;
    padding: 20px 0;
    color: white;
    width: 100%; }
    .App .App-header a {
      color: white;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home {
  background-color: #78bc61;
  height: 95vh;
  width: 100vw;
  color: #f1f7ed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .Home p {
    font-size: 1.2em; }
  .Home input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #424b54; }
  .Home .radio-buttons {
    width: 400px; }
  .Home .btn-submit {
    width: 150px;
    height: 30px;
    margin-top: 20px;
    background-color: #f1f7ed;
    border-radius: 20px; }

#root {
  height: 98vh; }

.Secret .result {
  font-size: 1.2em;
  color: #32c3ff; }

.calender {
  overflow: scroll; }

.collection {
  overflow: scroll; }

.calender-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  margin: 5px; }

.hidden {
  display: none; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  font-family: 'Josefin Sans', sans-serif; }
  .form a {
    text-decoration: underline;
    color: #78bc61; }

.landing-page {
  background-color: #78bc61;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh; }
  .landing-page a {
    text-decoration: none;
    color: #78bc61;
    background: white;
    padding: 10px; }
  .landing-page .block-white {
    height: 10vh;
    background-color: #f1f7ed;
    width: 100vw; }
